* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root,
html,
body {
  background-color: #f5f5ff;
}

html {
  font-size: 62.5%;
}

body {
  background-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
  vertical-align: baseline;
}
